{% extends "provapp/base.html" %}

{% block title %}Provenance graph{% endblock %}

{% block content %}

<h2>Provenance of RAVE data DR4</h2>

<h3>Graphical representations of everything</h3>
<div id="url_graphjson" class="hidden">{{ url }}</div>

<h4>Sankey chart</h4>
<p>Based on <a href="https://bost.ocks.org/mike/sankey/">https://bost.ocks.org/mike/sankey/</a>.
</p>

<p id="chart"></p>
<aside>Drag to rearrange nodes.</aside>

<br>

<h4>Force directed graph layout</h4>
<p>See e.g. <a href="http://bl.ocks.org/mbostock/4062045">http://bl.ocks.org/mbostock/4062045</a> for an example.

<p id="force-legend"></p>

<p id="force-graph"></p>

{% load staticfiles %}
<script src="{% static 'provapp/provgraphs.js' %}" charset="utf-8"></script>

{% endblock %}