{% extends "provapp/base.html" %}

{% block title %}Provenance VO{% endblock %}

{% block content %}
<h1>IVOA ProvenanceDM implementation</h1>
<p>
    This is a prototype webapp for displaying provenance information for astronomical datasets, using the <a href="https://www.djangoproject.com/">Django framework</a>. It implements the <a href="http://volute.g-vo.org/svn/trunk/projects/dm/provenance/description/ProvenanceDM.pdf">ProvenanceDM</a> data model currently discussed in the IVOA, which is based on the W3C ProvDM data model.
</p>

<h4>ProvenanceDM Data Access Layer (ProvDAL)</h4>
The ProvDAL endpoint is located at <a href="{% url 'provapp:provdal' %}">{% url 'provapp:provdal' %}</a>. It takes following possible request parameters:
<ul>
    <li>ID: a valid identifier for an entity or activity</li>
    <li>STEP: <code>LAST</code> for retrieving only the last provenance step or <code>ALL</code> for everything</li>
    <li>MODEL: <code>IVOA</code> for compliance with IVOA ProvenanceDM or <code>W3C</code> for compliance with W3C ProvDM</li>
    <li>FORMAT: only <code>PROV-JSON</code> and <code>PROV-N</code> are possible for now, in addition <code>Graphics</code></li>
</ul>
There is also a <a href="{% url 'provapp:provdal_form' %}">ProvDAL Form</a> which you can fill out and submit, so it will create and send the appropriate request for you.

<h4>Forms</h4>
<ul>
    <li>ProvenanceDM Data Access Layer: <a href="{% url 'provapp:provdal_form' %}">Form for ProvDAL</a></li>
</ul>

<h4>Complete provenance (overview)</h4>
<ul>
    <li>Overview: <a href="{% url 'provapp:graph' %}">Graph</a> of the main workflow (ignoring ActivityFlow and wasInformedBy)</li>
    <li>Overview: <a href="{% url 'provapp:allprov' 'PROV-N' %}">PROV-N</a> or <a href="{% url 'provapp:allprov' 'PROV-JSON' %}">PROV-JSON</a> representation</li>
    <li>Overview: <a href="{% url 'provapp:prettyprovn' %}">Pretty Provn</a> representation (with clickable links, not complete)</li>
</ul>


<h4>REST API</h4>
<p>
    Pick one of the classes below to show the available data using the REST
    <a href="{% url 'provapp:api-root' %}">api</a>:
</p>
<ul>
    <li><a href="{% url 'provapp:activity-list' %}">Activity</a></li>
    <li><a href="{% url 'provapp:entity-list' %}">Entity</a></li>
    <li><a href="{% url 'provapp:agent-list' %}">Agent</a></li>
</ul>

<p>
    Append the id of a specific record to get its details.
    (In principle one can also add new records and update or delete existing ones, but this is not tested, yet.)
</p>
<ul>
    <li>details: <a href="{% url 'provapp:activity-detail' 'rave:act_dataextraction' %}">{% url 'provapp:activity-detail' 'rave:act_dataextraction' %}</a></li>
</ul>

<p>
    For one activity, a normal json representation is shown by appending
    <code>?format=json</code> to the existing detail url, e.g.:
</p>
    <ul>
         <li>json: <a href="{% url 'provapp:activity-detail' 'rave:act_dataextraction' %}?format=json">/provapp/activities/rave:act_dataextraction/?format=json/</a></li>
    </ul>
<p>
    xml and provn serialisations still need to be defined, e.g. like this <code>?format=xml</code>
</p>


<h4>Sources</h4>
<p>
    The sources for this web application are available at <a href="https://github.com/kristinriebe/django-provapp/">GitHub: kristinriebe/django-provapp</a>.
</p>
{% endblock %}