{% extends "provapp/base.html" %}

{% block title %}Provenance search{% endblock %}

{% block content %}

<h2>Provenance search</h2>

<div class="row">
  <div class="col-md-6">
Put a RAVE observation id in the field below and submit for getting detailed 
provenance information for this observation. 
  </div>
</div>
<form action="{% url 'provapp:get_observationId' %}" method="post">
    {% csrf_token %}

    {% for field in form.visible_fields %}
  <div class="row">
    <div class="col-md-2">
          {{ field.label }}:
    </div>
    <div class="col-md-4">
          {{ field }}
      <div style="clear: both"></div>
      <div>
        <span class="helptext">{{field.help_text }}</span>
          {{field.errors}}
      </div>
    </div>
  </div>
    {% endfor %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <input type="submit" name="submit" value="Submit"/>
    </div>
  </div>
</form>

{% endblock %}