{% extends "prov_vo/base.html" %}

{% block title %}Provenance search{% endblock %}

{% block content %}

<h2>Provenance Data Access Layer (ProvDAL)</h2>

<div class="row">
  <div class="col-md-6">
    Put an identifier of an entity or activity in the field below and submit for retrieving the provenance record (backwards in time).
    You can check the list of available <a href="{% url 'prov_vo:entity-list' %}">entities</a> and <a href="{% url 'prov_vo:activity-list' %}">activities</a> for valid ids.
  </div>
</div>
<hr>
<form action="{% url 'prov_vo:provdal_form' %}" method="post">
    {% csrf_token %}

    {% for field in form.visible_fields %}
  <div class="row">
    <div class="col-md-2">
          <strong>{{ field.label }}</strong>
    </div>
    <div class="col-md-5">
          {{ field }}
      <div style="clear: both"></div>
      <div>
        <span class="helptext">{{ field.help_text }}</span>
          {{ field.errors }}
      </div>
    </div>
  </div>
    {% endfor %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

{% endblock %}